<h5><%= link_to "Back", root_path %></h5>

<h2>Transaction Info</h2>
<div class="col-md-12">
  <h5><%= "Vehicle type: #{@vehicle.vehicle_type}" %></h5>
  <h5><%= "Plate# #{@vehicle.plate_number}" %></h5>
  <h5><%= "Visits: #{@vehicle.visit_count}" %></h5>
</div>

<% @transactions.each do |transaction| %>
  <div>
    <h4>
      <em><%= local_time(transaction.created_at, '%B %e, %Y %l:%M%P') %></em>
      <%= "________" %>
      <%= number_to_currency(transaction.total_price) %>
    </h4>
  </div>
<% end %>

<h3>
  <%= "Total Sales: #{number_to_currency(@transactions.pluck(:total_price).sum)}" %>
</h3>